
<div class="row"> 
  <div class="col text-center">
    
    <img src="assets/img/{{ try }}.png" alt="" class="ahorcado-img">
    <h3>Intentos <small>{{ try }} / 9</small></h3>
  </div>

</div>

<div class="row">
    <div class="col text-center">
      
      <h1>
        {{palabraOculta}}
      </h1>

    </div>
  
</div>

<div class="row" *ngIf="win">
  <div class="col text-center">
    
    <h1>
      <h1>¡Ganastes!</h1>
    </h1>

  </div>

</div>

<div class="row" *ngIf="lost">
  <div class="col text-center">
    
    <h1>
      <h1>¡Inutil!</h1>
      <h4>{{ palabra }}</h4>
    </h1>

  </div>

</div>

<div class="row" *ngIf="!win && !lost" >
    <div class="col text-center"  >
      
      <button id=button (click)="comprobar( letra )" *ngFor="let letra of letras"  class="btn btn-primary" >
        {{ letra }}
      </button>
        
    </div>
</div>
  


